<%-include('partials/header.ejs')%> <%-include('partials/navbar.ejs')%>

<div id="hero">
  <div class="section1 sec1">
    <img src="images/logoInfinity.jpg" alt="" class="logo" />
    <h1>Infinito</h1>
    <img src="images/profile.png" alt="" class="profile" />
  </div>
  <div class="section2">
    <div style="width: 100%">
      <input type="search" name="search" class="search" placeholder="Search" />
      <a href="gogle"><i class="fa fa-search searchLogo"></i></a>
    </div>
    <p class="tagline">You have been connected with us since</p>
    <p class="tagline date">11 May 2023</p>
  </div>
</div>

<!-- about us -->
<%-include('aboutus.ejs')%>

<!-- future tech -->
<%-include('future.ejs')%>

<!-- team  -->
<%-include('team.ejs')%>

<!-- contact  -->
<%-include('contact.ejs')%>
